<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.rpi.pagr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Pagr" >
        <activity
            android:name="edu.rpi.pagr.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.rpi.pagr.GuestNumbersActivity" />
        <activity android:name="edu.rpi.pagr.MakeReservationActivity" />
        <activity android:name="edu.rpi.pagr.AppetizerListActivity" />
        <activity android:name="edu.rpi.pagr.PagrDialogActivity" />

        <service android:name="edu.rpi.pagr.service.NotificationService" />

        <activity
            android:name="edu.rpi.pagr.SettingsActivity"
            android:parentActivityName="edu.rpi.pagr.GuestNumbersActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.rpi.pagr.GuestNumbersActivity" />
        </activity>
        <activity android:name="edu.rpi.pagr.AppetizerFragmentActivity" />
        <activity android:name="edu.rpi.pagr.ViewCartActivity" />
        <activity
            android:name="edu.rpi.pagr.ViewAppetizerActivity"
            android:label="@string/title_activity_view_appetizer" >
        </activity>
    </application>

</manifest>